.subtitle_list {
    max-width: 690px;
    max-height: 90px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    list-style-type: none;
    padding: 0;
    margin-top: 33px;
}


@media screen and (max-width: 320px) {
    .subtitle_list {
        position: relative;
    }
}