.intro__list {
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-style: normal;
    margin: 0;
    max-width: 690px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    list-style-type: none;
    padding: 0;
    margin-top: 33px;
}


@media screen and (max-width: 320px) {
    .intro__list {
        position: relative;
    }
}