.footer__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 18px;
    margin: 0;
}

.footer__link:nth-child(1) {
    padding-left: 0;
}


@media screen and (max-width: 767px) {
    .footer__link {
        padding: 32px 0 0 0;
    }

    .footer__link:nth-child(1) {
        padding-top: 0;
    }

    .footer__link:nth-child(5) {
        padding-bottom: 32px;
    }
}