.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
}