.intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 92px 148px 0;
    max-width: 984px;
}


@media screen and (max-width: 1279px) {
    .intro {
        padding: 92px 48px 0;
    }
}

@media screen and (max-width: 960px) {
    .intro {
        padding: 88px 24px 0;
    }
}


@media screen and (max-width: 320px) {
    .intro {
        padding: 64px 16px 0;
        max-width: 288px;
    }
}