.cover__title {
    font-family: 'Inter', Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    margin: 0;
    z-index: 3;
    max-width: 510px;
    max-height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: white;
    z-index: 3;
    position: relative;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}