.place__website {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 625px) {
    .place__website {
        margin: 0 16px 0;
    }
}