.title_lead {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    max-height: 200px;
    padding: 48px 0 0;
    margin: 0 auto 0;
}

@media screen and (max-width: 767px) {
    .title_lead {
        font-size: 40px;
        line-height: 44px;
        padding: 48px 7px 0;
    }
}