.intro__title {
    font-family: 'Inter', Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    margin: 0;
    max-width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    text-align: start;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}